
.category_index { float: left; margin: 0.25em; width:19em; }
.category_index h2 { background: #ddd; text-align: center; padding: 0.25em; margin-bottom: 0.5em; }
.category_index dt, .category_index dd { margin-right: 0.5em; }
.category_index dt { margin-left: 0.5em !important; }
.category_index dd { margin-left: 1.5em !important; }

#guides .guide .sidebar h3 {
  color: black;
  cursor: pointer;
}
#guides .guide .sidebar ul { margin-left: 0; }
#guides .guide .sidebar ul li {
  padding-left: 14px;
  background: white url(/images/expand.png) -2px 2px no-repeat;
  margin: .2em 0;
}
#guides .guide .sidebar ul li.expanded { background: white url(/images/collapse.png) -2px 2px no-repeat; }

.sidebar dl {
  display: none;
  margin-bottom: 1em;
}

.sidebar dt { font-weight: bold; }
.sidebar dd { margin-bottom: 0.5em; }

pre.terminal {
  padding: 1em !important;
  background: #444 !important;
  color: white !important;
  font-size: 0.9em !important;
}

