
.category_index { float: left; margin: 0.25em; width:19em; }
.category_index h2 { background: #ddd; text-align: center; padding: 0.25em; margin-bottom: 0.5em; }
.category_index dt, .category_index dd { margin-right: 0.5em; }
.category_index dt { margin-left: 0.5em !important; }
.category_index dd { margin-left: 1.5em !important; }


/*********************/
/*      Sidebar      */
/*********************/

#guides .guide .sidebar h3 {
  padding: 4px;
  margin: .2em 0;
  cursor: pointer;
}
#guides .guide .sidebar h3:focus { outline: none; }

.sidebar dl { padding: 0 0.5em 0.5em 0.5em; }
.sidebar dt {
  font-weight: bold;
  margin-top: 0.5em;
}

.ui-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: white;
  background-position: -2px 2px;
  background-repeat: no-repeat;
}
.ui-icon-triangle-expand { background-image: url(/images/expand.png); }
.ui-icon-triangle-collapse { background-image: url(/images/collapse.png); }


/**********************/
/*      Pre/code      */
/**********************/

pre.terminal {
  padding: 1em !important;
  background: #444 !important;
  color: white !important;
  font-size: 0.9em !important;
}

code {white-space: nowrap;}


/********************/
/*      Images      */
/********************/

.wikistyle img {max-width: 690px;}
