
.category_index { float: left; margin: 0.25em; width:19em; }
.category_index h2 { background: #ddd; text-align: center; padding: 0.25em; margin-bottom: 0.5em; }
.category_index dt, .category_index dd { margin-right: 0.5em; }
.category_index dt { margin-left: 0.5em !important; }
.category_index dd { margin-left: 1.5em !important; }

.sidebar dl {
  display: none;
  margin-bottom: 0;
}

pre.terminal {
  padding: 1em !important;
  background: #444 !important;
  color: white !important;
  font-size: 0.9em !important;
}
