---
sidebar_cats:
- bootcamp
- troubleshooting
- repos
- collaborating
- everyday_git
- git_ninjutsu
- deploying
- mac
- windows
- linux
- other
- site_policy
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Help.GitHub - {{ page.title }}</title>
    <link href="/global/css/documentation.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/global/css/pygments.css" media="screen" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/print.css" type="text/css" media="print">
    <script src="/js/jquery-1.js" type="text/javascript"></script>
    <script src="/global/js/documentation.js" type="text/javascript"></script>
    <script src="/js/help.js" type="text/javascript"></script>
  </head>

  <body class="documentation">
    <div id="not-footer">
    <div id="header-wrapper">
      <div id="header">
        <div>
          <a class="logo" href="/"><img src="/images/logo.png" /></a>
          <ul class="nav">
            <li><a href="http://gitref.org/">Git Reference</a></li>
            <li><a href="http://support.github.com/">Support</a></li>
            <li><a href="http://github.com/">Back to GitHub</a></li>
          </ul>
        </div>
      </div><!-- #header -->
    </div><!-- #header-wrapper -->

    <div id="wrapper">

      <div id="content">
        <h1>{{ page.title }}</h1>
        {{ content }}
      </div>

      <div id="js-help-sidebar" class="sidebar-shell">
        <div class="sidebar-module">
          <ul>
            {% for cat in (page.sidebar_cats) %}
            <li class="js-topic">
              <h3><a href="#">{{ cat | replace:'_',' ' | capitalize }}</a></h3>
              <ul class="js-guides">
                {% for post in site.posts reversed %}{% if post.categories contains cat %}
                  {% if page.title == post.title %}
                    <li class="disable"><span>{{ page.title }}</span></li>
                  {% else %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                  {% endif %}
                {% endif %}{% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
        </div> <!-- /sidebar-module -->
        <div class="sidebar-module">
          <p>This website is <a href="http://github.com/github/help.github.com#readme" target="_blank">open source</a>. Please help us by forking the project and adding to it.</p>
        </div>
      </div><!-- /sidebar-shell -->

    </div><!-- #wrapper -->

  </div><!-- /not-footer -->
  <div id="footer-wrapper">
    <div id="footer" class="container_12">
      <div id="bottom-nav">
        <ul class="nav">
          <li><a href="https://github.com/blog">Blog</a></li>
          <li><a href="http://support.github.com">Support</a></li>
          <li><a href="https://github.com/contact">Contact</a></li>
          <li><a href="https://twitter.com/github">Twitter</a></li>
          <li><a href="http://help.github.com/security/">Security</a></li>
          <li><a href="http://github.com/github/help.github.com#readme">Source</a></li>
        </ul>
        <ul class="nav">
          <li>&copy; 2011 GitHub Inc. All rights
            reserved.</li>
          <li><a href="http://help.github.com/terms/">Terms of Service</a></li>
          <li><a href="http://help.github.com/privacy/">Privacy Policy</a></li>
        </ul>
      </div>
      <div id="bottom-notice">
        <p class="rackspace">Powered by the <a href="http://rackspace.com" target="_blank">Dedicated Servers</a> and <a href="http://rackspacecloud.com" target="_blank">Cloud Computing</a> of Rackspace Hosting&reg;</p> 
      </div>
    </div><!-- #footer -->
  </div><!-- #footer-wrapper -->

  </body>
</html>
